<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>My Portifolio</title>
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
  </head>
  <body>
    <nav class="navbar fixed-top navbar-expand-md navbar-dark bg-dark">
      <a class="navbar-brand ml-5" href="/#home"><span class="logo">Thiago</span></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse mr-4 justify-content-end" id="navbarNavAltMarkup">
        <div id="navbarLinks" class="navbar-nav">
          <a class="nav-item nav-link link-setup hover-effect active" href="/#home">Home <span class="sr-only">(current)</span></a>
          <a class="nav-item nav-link link-setup hover-effect" href="/#sobre">Sobre</a>
          <a class="nav-item nav-link link-setup hover-effect" href="/#projetos">Projetos</a>
          <a class="nav-item nav-link link-setup hover-effect" href="/#contato">Contato</a>
        </div>
      </div>
    </nav>
