<% include partials/header %>
  <header id="home" class="jumbotron mb-0">
      <h1 class="bg-dark">Oi, me chamo <span>Thiago</span></h1>
      <p class="bg-dark">Sou desenvolvedor Web</p>
  </header>

  <main>
    <%#------------------%>
    <%# SOBRE MIM        %>
    <%#------------------%>
    <article id="sobre" class="d-flex mb-0 sobre">
      <div class="col-8 bg-light px-5 text-center">
        <%# Text sobre mim mesmo %>
        <div class="container px-5 py-4 my-4">
          <h2>Sobre</h2>
          <p class="px-3">There are many variations of passages of Lorem Ipsum available,
            but the majority have suffered alteration in some form, by injected
            humour, or randomised words which don't look even slightly believable.
             If you are going to use a passage of Lorem Ipsum, you need to be sure
             there isn't anything embarrassing hidden in the middle of text. All the
             Lorem Ipsum generators on the Internet tend to repeat predefined chunks
             as necessary, making this the first true generator on the Internet.
           </p>
        </div>

      <%# Redes sociais %>
      <div class="social-medias mb-3">
          <a href="https://github.com/ThiagoMoraes21"><i class="fab fa-github"></i></a>
          <a href="https://www.hackerrank.com/thiago4x70"><i class="fab fa-hackerrank"></i></a>
          <a href="https://www.linkedin.com/feed/"><i class="fab fa-linkedin-in"></i></a>
        </div>
      </div>

      <%# Minha foto %>
      <div class="col-4 bg-dark foto"></div>
    </article>

    <%#------------------%>
    <%# SKILLS           %>
    <%#------------------%>
    <article id="skills" class="col-12 bg-secondary">
      <h2 class="text-center">Skills</h2>
      <ul class="d-flex justify-content-around">
        <li>HTML+CSS</li>
        <li>Javascript</li>
        <li>NodeJS</li>
        <li>Express</li>
        <li>MongoDB</li>
      </ul>
    </article>

    <%#------------------%>
    <%# PROJETOS         %>
    <%#------------------%>
    <article id="projetos" class="col-12 bg-light">
      <h1 class="text-center">Projetos</h1>
      <div class="d-flex projetos justify-content-start">
        <div class="projeto mr-2">
          <p>Nome do projeto</p>
          <div class="bg-dark">
            <img src="https://source.unsplash.com/iwJscb2Ezsk" alt="">
          </div>
        </div>
        <div class="projeto mr-2">
          <p>Nome do projeto</p>
          <div class="bg-dark">
            <img src="https://source.unsplash.com/_EC_ErY4DQA" alt="">
          </div>
        </div>
      </div>
    </article>

    <%#------------------%>
    <%# CONTATO          %>
    <%#------------------%>
    <article id="contato" class=" col-12 bg-secondary text-center">
      <h1>Contate-me</h1>
      <div class="contact-me">
        <form class="" action="index.html" method="post">
          <input type="text" name="" value="" placeholder="nome">
          <input type="email" name="" value="" placeholder="e-mail@gmail.com">
        </form>
        <textarea name="name" rows="8" cols="80"></textarea>
        <button type="button" name="button">Enviar</button>
      </div>
    </article>
  </main>

  <%#------------------%>
  <%# FOOTER           %>
  <%#------------------%>
  <footer>
    <article class="col-12 bg-dark">
      <h1>Thiago</h1>
    </article>
  </footer>

<% include partials/footer %>
