/**************/
/* SETUP      */
/**************/
body, html {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-display: swap;
}

img {
  width: 100%;
  height: 100%;
}

:root {
  --dark: #000;
  --dark-gray: #212121;
  --yellow: #FFEB3B;
  --dark-yellow: #FBC02D;
  --main-gradient:
      linear-gradient(
        102.53deg, var(--yellow) 47.59%, var(--dark-yellow) 100%
      );
}

.bg-dark {
  background-color: var(--dark)!important;
}

.bg-secondary {
  background: var(--main-gradient);
}

.btn-primary {
  background-color: var(--dark);
  border-color: var(--dark);
  border-radius: 40px;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
  transition: all 0.2s ease-in-out;
}

.btn-primary:hover {
  background-color: var(--dark);
  border-color: var(--dark);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.btn-secondary {
  background: var(--main-gradient);
  border-color: var(--dark-yellow);
  color: var(--dark);
  font-weight: bold;
  border-radius: 40px;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
  transition: all 0.2s ease-in-out;
}

.btn-secondary:hover {
  background-color: var(--dark-yellow);
  border-color: var(--dark-yellow);
  color: var(--dark);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.text-dark {
  font-weight: bold;
  text-decoration: underline;
}

/* setup alert messages */
.alert {
  transition: all 0.3s ease-in-out;
  animation: fadeOut 8.5s ease-in-out forwards;
  position: absolute;
  top: 80px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

/* alert animation fade out */
@keyframes fadeOut{
  0 {
    opacity: 1;
  }
  100%{
    opacity: 0;
  }
}


.notfound-header {
  padding: 0;
}

.notfound-header h1 {
  top: 20vh;
  font-weight: bolder;
}

/**************/
/* NAVBAR     */
/**************/
nav {
  box-shadow: 0 3px 17px rgba(33, 33, 33, 0.2);
}

.navbar-dark .navbar-nav .nav-link {
  color: rgba(255,255,255,.8);
  font-weight: 100;
  margin-left: 35px;
}

.link-setup {
  position: relative;
  display: block;
}

.hover-effect:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 3px;
  bottom: 0;
  left: 0;
  background-color: var(--yellow);
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.3s;
}

.hover-effect:hover:after {
  transform-origin: bottom left;
  transform: scaleX(1);
}

/**************/
/* HEADER     */
/**************/
#home {
  background-image: url('../img/home-bg.jpg');
  background-size: cover;
  background-position: bottom center;
  background-attachment: fixed;
  color: #fff;
}

.jumbotron {
  padding: 0;
}

.logo {
  color: var(--yellow);
  font-weight: normal;
}

.apresentacao {
  position: relative;
  top: 30%;
  margin: 0 auto;
}

.apresentacao h1 {
  width: 100%;
  font-size: 4em;
  font-weight: 200;
}

.apresentacao p {
  font-size: 2.2em;
  font-weight: 100;
  margin: 0px auto;
}

.jumbotron {
  margin-bottom: 2rem;
  background-color: var(--yellow);
  border-radius: 0;
  height: 100vh;
  text-align: center;
}

.scroll-angle {
  position: absolute;
  width: 30px;
  height: 30px;
  left: 50%;
  border-color: var(--dark);
  /* transform: translateX(-50%); */
  transform: rotate(45deg) translateX(-50%);
  border-bottom: 2px solid #fff;
  border-right: 2px solid #fff;
  font-size: 0;
  animation: moveAngle 2s ease-in-out infinite;
}

/* Animação da seta */
@keyframes moveAngle {
  0% {
    margin-top: 60vh;
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    margin-top: 70vh;
    opacity: 0;
  }
}

/**************/
/* SOBRE      */
/**************/
#sobre {
  border-top: 50px solid transparent;
  margin-top: -50px;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  min-height: 68vh;
  background-color: #fff;
}

.social-medias a {
  color: #fff;
}

.social-medias a > i {
  width: 30px;
  height: 30px;
  font-size: 1.3em;
  background-color: #000;
  line-height: 30px;
  border-radius: 50%;
  margin-left: 10px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.4);
}

.sobre {
  padding: 50px;
}

.foto{
  background-image: url('../img/myface.jpeg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  filter: saturate(0);
  min-height: 68vh;
}

/**************/
/* SKILLS      */
/**************/
#skills li{
  list-style: none;
  background-color: var(--dark);
  color: #fff;
  border-radius: 40px;
  padding: 10px;
  padding-left: 30px;
  padding-right: 30px;
  margin-left: 3px;
  font-weight: 200;
  font-size: 1.1em;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
}

#skills a {
  background-color: 0;
  opacity: 1;
  transform: scale(1.3);
}

.carousel-inner {
  top: -13px;
}

.carousel-control-prev {
  left: -3px;
  width: 40px;
  height: 40px;
  margin-top: -8px;
  border-radius: 40px;
}

.carousel-control-next {
  right: -3px;
  width: 40px;
  height: 40px;
  margin-top: -8px;
  border-radius: 40px;
}

.carousel-control-next, .carousel-control-prev {
  opacity: 1;
}


/**************/
/* PROJETOS   */
/**************/
img {
  width: 100%;
  height: 100%;
}

#projetos {
  border-top: 50px solid transparent;
  margin-top: -50px;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  min-height: 500px;
}

.col {
  padding: 0px;
}

.card {
  height: 400px;
  border: none;
  border-radius: 0;
  overflow: hidden;
  text-align: center;
  transition: all 0.3s ease-in-out;
}

.card-img {
  border-radius: 0;
  transform: scale(1.12);
  transition: all 0.2s ease-in-out;
}

.card-img-overlay {
  margin-top: 0px;
  width: 90%;
  height: 90%;
  margin: 20px auto;
  transform: scale(1.1);
  border: 1px solid 0;
  transition: all 0.2s ease-in-out;
}

.card-img-overlay h5 {
  font-size: 2em;
  margin: 85px auto 7px auto;
  width: 60%;
  padding: 3px;
  font-weight: 200;
  background-color: rgba(0, 0, 0, 0.6);
}

.card-img-overlay p {
  padding-top: 20px;
  opacity: 0;
  transform: scale(1.3);
  transition: all 0.2s ease-in-out;
}

.card-img-overlay a {
  opacity: 0;
  border-radius: 40px;
  transition: all 0.2s ease-in-out;
}

/* animação dos cards */
.card:hover .card-img{
  opacity: 0.7;
  transform: scale(1);
}

.card:hover .card-img-overlay {
  transform: scale(1);
  border: 1px solid #fff;
}

.card:hover .card-img-overlay p,
.card:hover .card-img-overlay a {
  opacity: 1;
  transform: scale(1);
}

/**************/
/* CONTATO    */
/**************/
#contato {
  border-top: 50px solid transparent;
  margin-top: -50px;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  min-height: 500px;
}

.contate-me {
  width: 76vh;
  height: 480px;
  background-color: #fff;
  margin: 40px auto;
  border-radius: 13px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.25);
}

/*******************/
/* PAG DO PROJETO  */
/*******************/
.project-header ,.container-fluid {
  padding: 0;
  overflow: hidden;
}

.project-header img {
  transform: scale(0.9999);
}

.project-title {
  position: relative;
  top: 32%;
  margin: 0 auto;
  min-width: 40vw;
  font-size: 4rem;
  color: #fff;
  background-color: #000;
  font-weight: normal;
  padding: 0;
}

.header-img-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1.25rem;
}

.projeto-links {
  position: absolute;
  top: 48vh;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 250px;
  text-align: center;
}

.btn-header {
  margin-left: 10px;
  padding-left: 20px;
  padding-right: 20px;
}

.project-scroll {
  top: 25vh;
  margin: 0 auto;
}

.sobre-projeto {
  border-top: 50px solid transparent;
  margin-top: -50px;
  height: 70vh;
}

#sobre-projeto ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#sobre-projeto li {
  list-style: none;
  background-color: #000;
  border-radius: 40px;
  color: #fff;
  font-weight: 200;
  font-size: 1.3em;
  width: 14vw;
  text-align: center;
  padding: 5px;
  margin-bottom: 5px;
  margin-left: -5px;
}

/**************/
/* FOOTER     */
/**************/
footer {
  min-height: 200px;
  color: #fff;
}

footer li {
  list-style: none;
}

.footer-social-medias a {
  font-size: 1.3em;
  color: #fff;
}


/* Adaptando o tamanho das fontes */
@media only screen and (max-width: 550px) {
  #home {
    background-attachment: scroll;
    background-position: 81%;
  }
  .apresentacao {
    top: 30%;
    width: 100%;
    padding: 7px;
  }
  .apresentacao h1 {
    font-size: 3em;
  }

  .apresentacao p {
    font-size: 1.4em;
  }
  .alert {
    margin: 0;
  }
  .navbar-brand {
    margin-left: 4vw!important;
  }
  .scroll-angle {
    top: 26%;
  }
}

@media only screen and (max-width: 770px){
  .alert{
    margin: 0 15%;
  }

  .foto {
    background-image: url('../img/myface.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top 17% center;
    background-attachment: scroll;
    background-size: 89%;
    filter: saturate(0);
    min-height: 40vh;
  }

  #sobre {
    display: flex;
    flex-direction: column-reverse;
  }

  .sobre {
    padding: 15px;
  }

  #skills ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #skills li {
    margin-left: 5px;
    font-size: 1em;
    width: 60%;
    text-align: center;
    margin-bottom: 5px;
    margin-left: 25px;
  }

  #skills a {
    margin-top: 15%;
  }

  .card-img {
    border-radius: 0;
    transform: scale(1.12);
    transition: all 0.2s ease-in-out;
  }

  .card-img-overlay {
    transform: scale(1);
    border: none;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.3);
  }

  .card-img-overlay h5 {
    margin-top: 60px;
  }

  .card-img-overlay p {
    opacity: 1;
    transform: scale(1);
    padding: 0;
    margin-top: 40px;
  }

  .card-img-overlay a {
    opacity: 1;
  }


/* PAGINA DO PROJETO */
  .project-header img {
    transform: scale(0.999);
  }

  .project-title {
    font-size: 3rem;
  }

  .projeto-links {
    position: absolute;
    top: 51vh;
    width: 250px;
    text-align: center;
  }

  #sobre-projeto .d-flex{
    display: flex;
    flex-direction: column;
  }

  #sobre-projeto li {
    width: 70%;
  }

  .sobre-projeto {
    height: 100%;
  }

  .project-text {
    min-height: 120%;
  }

/* FOOTER */
  footer {
    display: flex;
    flex-direction: column;
  }

  .footer-social-medias {
    padding-left: 38px;
  }
}

@media only screen and (min-width: 1500px) {
  .apresentacao h1 {
    font-size: 6em;
  }
  .apresentacao p {
    font-size: 3.5em;
  }
  #sobre {
    min-height: 55vh;
  }
  .foto {
    min-height: 55vh;
  }
  .sobre {
    padding: 60px;
    font-size: 1.6rem;
  }
}
